* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header, footer {
    background-color: black;
    font-size: 1em;
    width: 100%;
    font-weight:100;
}
.topPage {
    color: white;
    max-height: 10vh;
    padding: 3px;
    text-align: center;
}

.logoAdidas {
    height: 50px;
    width: 50px;
    margin: 2.5em;
}

.toggleimg {
    height: 25px;
    width: 25px;
}

.navThings {
    list-style-type: none;
    display: none;
    font-weight: 500;
}

.navThings {
    text-align: center;
    justify-content: space-around;
}

    
.navThings a:hover {
    color: gray;
}

.togglecheck {
    position: absolute;
    top: 80px;
    right: 80px;
    cursor: pointer;
}

#toggle {
   display: none;
}

#toggle:checked + ul.navThings {
    display: block;
}

.navComponets {
    color: black;
    text-decoration: none;
}

li {
    margin: 5px;
}

.firstbox {
    background-image: url("./assets/ultraboost-background-2-copy-cut.jpg");
    background-size:cover;
}

.firstBoxBigText {
    font-size: 3.1em;
    font-weight: 500;
}

.firstBoxText {
    font-weight: 400;
    font-size: 1em;
}

.firstbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 1em;
    margin-bottom: 0.5em;
    width: 100%;
    height: 450px;
    gap: 10px;
}

.firstBoxButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    width: 7em;
    height: 2em;
    cursor: pointer;
    border-radius: 5%;
}

.secondBox {
    background-image: url("./assets/legins-background-2.jpg");
    background-size: cover;
}

.secondBox{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0.7em;
}

.secondBoxBigText {
    font-size: 3.1em;
    color: white;
}

.secondBoxText {
    color: white;
    font-weight: 400;
    font-size: 1em;
}

.secondBoxButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: rgb(28, 27, 27);
    font-weight: 500;
    font-size: 1em;
    width: 8em;
    height: 2em;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5%;
}

.thirdBoxBigText , .fourthBoxBigText{
    font-size: 1.5em;
    padding: 0.6em;
    text-transform: uppercase;
}
    
.thirdBoxScroll, .productsBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5em;
    overflow-x: scroll;
}

.ThirdBoxPic, .products {
    transition:all 0.3s ease-in-out;
}

.ThirdBoxPic:hover, .products:hover {
    transform: scale(1.05);
}


.ThirdBoxPic {
    display: flex;
    width: 250px;
    height: 250px;
}

.textPic, .fourthBox{
    font-size: 1em;
    padding: 0.6em;
    text-transform: uppercase;
}

.products {
    padding: 0.5em;
    font-size: 15px;
 }
 
 a {
    text-decoration: none;
    color: black;
 }

 .fifthBox {
    background-color: rgb(247, 242, 233);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.fifthBoxBigText {
    font-size: 3em;
    padding: 10px;
}

.fifthBoxText {
    padding: 18px;
    font-size: 1em;
    font-weight: 100;
    text-align: justify;
}

.footer{
    display: flex;
    color: grey;
    justify-content: center;
    align-items: center;
    padding: 10px;
 
}

@media screen and (min-width: 410px) and (max-width: 768px){

    .navThings {
        text-align: center;
        justify-content: space-around;
    }

    #toggle:checked + ul.navThings {
        display: flex;
    }

    .togglecheck {
        position: absolute;
        top: 80px;
        right: 120px;
        cursor: pointer;
    }
    
}

@media screen and (min-width: 769px) {

    .navThings {
        text-align: center;
        justify-content: space-around;
    }

    #toggle:checked + ul.navThings {
        display: flex;
    }

    .togglecheck {
        position: absolute;
        top: 80px;
        right: 120px;
        cursor: pointer;
    }

    .firstbox {
        background-image: url("./assets/ultraboost-background-2-copy3.jpg");
        background-size:cover;
    }

    .secondBox{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 0.7em;
    }

        
    .thirdBoxScroll {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    }

    .ThirdBoxPic {
        width: 400px;
        height: 400px;
       
    }
    
    .textPic {
        padding: 0.6em;
    
    }

    .fifthBox {
        background-color: rgb(247, 242, 233);
        padding: 0.5em;
        display: flex;
        flex-direction: row;
    }
    
}